*.cs	diff=csharp
*.cpp	diff=cpp
*.h	diff=cpp
*.idh	diff=cpp

*.csproj -whitespace
*.resx -whitespace
*.Designer.cs -whitespace
*.vdproj -whitespace
*.config -whitespace
*.settings -whitespace
*.ReSharper -whitespace
*.vcxproj -whitespace
*.vcxproj.filters -whitespace
*.md -whitespace
*.json whitespace=-indent-with-non-tab
provision-fw-dev-machine -whitespace
LICENSING.txt whitespace=-indent-with-non-tab
Vagrantfile -whitespace
dot-gdbinit -whitespace
