# other files
*.user
*.ncb
*.sln
*.suo
*.o
*_ReSharper*
*~
*.pidb
*.userprefs
*.usertasks
*.resources
*.bak
*.swp
*.pyc
*.log
*.vshost.exe*
*.sdf
*.opensdf
UpgradeLog*


.dotest/
.depend

obj/
_UpgradeReport_Files/

.vagrant
