# other files
*.user
*.ncb
*.sln
*.suo
*.o
*_ReSharper*
*~
*.pidb
*.userprefs
*.usertasks
*.resources
*.bak
*.swp
*.pyc
*.log
*.vshost.exe*
*.sdf
*.opensdf
UpgradeLog*


.dotest/
.depend
.vs

obj/
_UpgradeReport_Files/

.vagrant

/packaging/pbuilder/build-multi.config
/packaging/pbuilder/xenial
/packaging/pbuilder/bionic
/packaging/pbuilder/focal
/packaging/pbuilder/*.gpg
